#{extends 'main.html' /}
#{set 'moreStyles'}

#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><script type="text/javascript">
	// key 49 -> 1
	// key 50 -> 2
	// ...
	// key 65 -> a
	// ...
	// key 90 -> z
	var keyboardKeyOffset = 49;
	var keyboardKeyLimit = 57;
	var prefix = "a";
	$(document).ready(function() {
		var buttons = $("#annotations").children();
		var annotationsSize = buttons.size();
		//console.log(annotationsSize);
		$.each(buttons, function(index, value) { 
			var val = $(value).children();
			var keyCode = keyboardKeyOffset + index;
			$(val).after("Key: "+String.fromCharCode(keyCode));
			$(val).attr("id", prefix+keyCode);
			$(val).click(function() {
				 annotationPush(keyCode);
			});
			//console.log(index+": "+keyCode);
		});
	});
	
	$(window).keydown(function(e) {
		if (e.keyCode >= keyboardKeyOffset && e.keyCode <= keyboardKeyLimit) {
			annotationPush(e.keyCode);
		}
	});
	
	function annotationPush(key) {
		var button = $("#"+prefix+key);
		if (button.length == 0) {
			$("#info").text(key+" is not bound!")
		} else {
			var b = $(button);
			var time = new Date();
			var textarea = $("#aresult");
			textarea.append(time.getTime()+";"+b.attr("value")+"\n");
			textarea.scrollTop(99999);
		}
		
	}
	
</script>
#{/set}

<h1>Connection</h1>

connected with <strong>${user.name}</strong> for profile <strong>${profile.name}</strong>


<h2>Annotations</h2>

#{if profile.annotations == null || profile.annotations == '' }
    No annotations available for this profile.
#{/if}

<span id="info"></span>

<ul id="annotations">
#{list profile.getAnnotationsAsList(), as:'annotation'}
    <li><input type="button" value="${annotation}" id="${annotation}">​</li>
#{/list}
</ul>

<div>
#{form @save() , id:'creationForm'  }
	<textarea readonly="readonly" id="aresult" name="aresult" cols="50" rows="10"></textarea>
	<br/>
	<input type="hidden" name="longHash" value="${annotationSession.longHash}" />
	<input type="submit" name="submit" value="Send to Server" />
 #{/form}
</div>


