#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
		#{if object.getEditable()}
		   <p class="crudButtons">
	            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
	            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        	</p>
		#{/if}
		#{else}
		    <p class="crudButtons">
		    	<span style="color: red">Profile is frozen!</span>
		    	<input type="submit" name="_save" value="&{'crud.forceSave', type.modelName}" />
	            <input type="submit" name="_saveAndContinue" value="&{'crud.forceSaveAndContinue', type.modelName}" />
		    </p>
		#{/else}
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>