#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if name != null}
	<h1>Hello ${name ?: 'guest'}!</h1>
	<a href="@{Application.index()}">To index</a>
#{/if}

#{else}
	#{if flash.error}
	    <p style="color:#c00">
	        ${flash.error}
	    </p>
	#{/if}
	
	<form action="@{Application.hello()}" method="GET">
	    <input type="text" name="name" /> 
	    <input type="submit" value="Say hello!" />
	</form>
#{/else}